<a href="https://colab.research.google.com/github/abakamousa/churn_detection/blob/main/churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install missing librairies

In [3]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.16)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2023.11.17)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.6)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

# Import librairies

In [9]:

import pandas            as pd
import numpy             as np
import opendatasets      as od
import seaborn           as sns
import matplotlib.pyplot as plt


# Load dataset from kaggle

In [11]:
url="https://www.kaggle.com/competitions/telecom-churn-case-study-hackathon-c54/data"
od.download(url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: abakamousa
Your Kaggle Key: ··········
Downloading telecom-churn-case-study-hackathon-c54.zip to ./telecom-churn-case-study-hackathon-c54

100%|██████████| 18.8M/18.8M [00:00<00:00, 107MB/s]

Extracting archive ./telecom-churn-case-study-hackathon-c54/telecom-churn-case-study-hackathon-c54.zip to ./telecom-churn-case-study-hackathon-c54

# Exploratory data analaysis

In [13]:
df = pd.read_csv("/content/telecom-churn-case-study-hackathon-c54/train.csv")

In [14]:
df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [18]:

df.describe(include='all')

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69297.0,69297.0,69297.0,69999,69600,69266,69999.000000,69999.000000,...,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
unique,NaN,NaN,NaN,NaN,NaN,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,6/30/2014,7/31/2014,8/31/2014,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,69999,69600,69266,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,34999.000000,109.0,0.0,0.0,0.0,NaN,NaN,NaN,283.134365,278.185912,...,0.081444,0.085487,0.916325,0.909544,0.890319,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,NaN,NaN,NaN,334.213918,344.366927,...,0.634547,0.680035,0.276907,0.286842,0.312501,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,NaN,NaN,NaN,-2258.709000,-1289.715000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,NaN,NaN,NaN,93.581000,86.714000,...,0.000000,0.000000,1.000000,1.000000,1.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,NaN,NaN,NaN,197.484000,191.588000,...,0.000000,0.000000,1.000000,1.000000,1.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,NaN,NaN,NaN,370.791000,365.369500,...,0.000000,0.000000,1.000000,1.000000,1.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,NaN,NaN,NaN,27731.088000,35145.834000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [19]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Dtype
---   ------                    -----
 0    id                        int64
 1    circle_id                 int64
 2    loc_og_t2o_mou            float64
 3    std_og_t2o_mou            float64
 4    loc_ic_t2o_mou            float64
 5    last_date_of_month_6      object
 6    last_date_of_month_7      object
 7    last_date_of_month_8      object
 8    arpu_6                    float64
 9    arpu_7                    float64
 10   arpu_8                    float64
 11   onnet_mou_6               float64
 12   onnet_mou_7               float64
 13   onnet_mou_8               float64
 14   offnet_mou_6              float64
 15   offnet_mou_7              float64
 16   offnet_mou_8              float64
 17   roam_ic_mou_6             float64
 18   roam_ic_mou_7             float64
 19   roam_ic_mou_8             float64
 20   roam_og_mou_6             float64
 21   roam_og_mou_7             float64
 22   roam_og_mou_8             float64
 23   loc_og_t2t_mou_6          float64
 24   loc_og_t2t_mou_7          float64
 25   loc_og_t2t_mou_8          float64
 26   loc_og_t2m_mou_6          float64
 27   loc_og_t2m_mou_7          float64
 28   loc_og_t2m_mou_8          float64
 29   loc_og_t2f_mou_6          float64
 30   loc_og_t2f_mou_7          float64
 31   loc_og_t2f_mou_8          float64
 32   loc_og_t2c_mou_6          float64
 33   loc_og_t2c_mou_7          float64
 34   loc_og_t2c_mou_8          float64
 35   loc_og_mou_6              float64
 36   loc_og_mou_7              float64
 37   loc_og_mou_8              float64
 38   std_og_t2t_mou_6          float64
 39   std_og_t2t_mou_7          float64
 40   std_og_t2t_mou_8          float64
 41   std_og_t2m_mou_6          float64
 42   std_og_t2m_mou_7          float64
 43   std_og_t2m_mou_8          float64
 44   std_og_t2f_mou_6          float64
 45   std_og_t2f_mou_7          float64
 46   std_og_t2f_mou_8          float64
 47   std_og_t2c_mou_6          float64
 48   std_og_t2c_mou_7          float64
 49   std_og_t2c_mou_8          float64
 50   std_og_mou_6              float64
 51   std_og_mou_7              float64
 52   std_og_mou_8              float64
 53   isd_og_mou_6              float64
 54   isd_og_mou_7              float64
 55   isd_og_mou_8              float64
 56   spl_og_mou_6              float64
 57   spl_og_mou_7              float64
 58   spl_og_mou_8              float64
 59   og_others_6               float64
 60   og_others_7               float64
 61   og_others_8               float64
 62   total_og_mou_6            float64
 63   total_og_mou_7            float64
 64   total_og_mou_8            float64
 65   loc_ic_t2t_mou_6          float64
 66   loc_ic_t2t_mou_7          float64
 67   loc_ic_t2t_mou_8          float64
 68   loc_ic_t2m_mou_6          float64
 69   loc_ic_t2m_mou_7          float64
 70   loc_ic_t2m_mou_8          float64
 71   loc_ic_t2f_mou_6          float64
 72   loc_ic_t2f_mou_7          float64
 73   loc_ic_t2f_mou_8          float64
 74   loc_ic_mou_6              float64
 75   loc_ic_mou_7              float64
 76   loc_ic_mou_8              float64
 77   std_ic_t2t_mou_6          float64
 78   std_ic_t2t_mou_7          float64
 79   std_ic_t2t_mou_8          float64
 80   std_ic_t2m_mou_6          float64
 81   std_ic_t2m_mou_7          float64
 82   std_ic_t2m_mou_8          float64
 83   std_ic_t2f_mou_6          float64
 84   std_ic_t2f_mou_7          float64
 85   std_ic_t2f_mou_8          float64
 86   std_ic_t2o_mou_6          float64
 87   std_ic_t2o_mou_7          float64
 88   std_ic_t2o_mou_8          float64
 89   std_ic_mou_6              float64
 90   std_ic_mou_7              float64
 91   std_ic_mou_8              float64
 92   total_ic_mou_6            float64
 93   total_ic_mou_7            float64
 94   total_ic_mou_8            float64
 95   spl_ic_mou_6              float64
 96   spl_ic_mou_7              float64
 97   spl_ic_mou_8              float64
 98   isd_ic_mou_6              float64
 99   isd_ic_mou_7              float64
 100  isd_ic_mou_8              float64
 101  ic_others_6               float64
 102  ic_others_7               float64
 103  ic_others_8               float64
 104  total_rech_num_6          int64
 105  total_rech_num_7          int64
 106  total_rech_num_8          int64
 107  total_rech_amt_6          int64
 108  total_rech_amt_7          int64
 109  total_rech_amt_8          int64
 110  max_rech_amt_6            int64
 111  max_rech_amt_7            int64
 112  max_rech_amt_8            int64
 113  date_of_last_rech_6       object
 114  date_of_last_rech_7       object
 115  date_of_last_rech_8       object
 116  last_day_rch_amt_6        int64
 117  last_day_rch_amt_7        int64
 118  last_day_rch_amt_8        int64
 119  date_of_last_rech_data_6  object
 120  date_of_last_rech_data_7  object
 121  date_of_last_rech_data_8  object
 122  total_rech_data_6         float64
 123  total_rech_data_7         float64
 124  total_rech_data_8         float64
 125  max_rech_data_6           float64
 126  max_rech_data_7           float64
 127  max_rech_data_8           float64
 128  count_rech_2g_6           float64
 129  count_rech_2g_7           float64
 130  count_rech_2g_8           float64
 131  count_rech_3g_6           float64
 132  count_rech_3g_7           float64
 133  count_rech_3g_8           float64
 134  av_rech_amt_data_6        float64
 135  av_rech_amt_data_7        float64
 136  av_rech_amt_data_8        float64
 137  vol_2g_mb_6               float64
 138  vol_2g_mb_7               float64
 139  vol_2g_mb_8               float64
 140  vol_3g_mb_6               float64
 141  vol_3g_mb_7               float64
 142  vol_3g_mb_8               float64
 143  arpu_3g_6                 float64
 144  arpu_3g_7                 float64
 145  arpu_3g_8                 float64
 146  arpu_2g_6                 float64
 147  arpu_2g_7                 float64
 148  arpu_2g_8                 float64
 149  night_pck_user_6          float64
 150  night_pck_user_7          float64
 151  night_pck_user_8          float64
 152  monthly_2g_6              int64
 153  monthly_2g_7              int64
 154  monthly_2g_8              int64
 155  sachet_2g_6               int64
 156  sachet_2g_7               int64
 157  sachet_2g_8               int64
 158  monthly_3g_6              int64
 159  monthly_3g_7              int64
 160  monthly_3g_8              int64
 161  sachet_3g_6               int64
 162  sachet_3g_7               int64
 163  sachet_3g_8               int64
 164  fb_user_6                 float64
 165  fb_user_7                 float64
 166  fb_user_8                 float64
 167  aon                       int64
 168  aug_vbc_3g                float64
 169  jul_vbc_3g                float64
 170  jun_vbc_3g                float64
 171  churn_probability         int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB